<!-- <div class="container" ng-controller="eventInfoController">
	<form class="form-horizontal" role="form">
		<h2  class="vertical-center">Event Info/Product Info</h2>
		<div class="form-group">
			<label class="control-label col-sm-3">Event Action</label>
			<div class="col-sm-9">
				<div class="checkbox">
					<label> <input type="checkbox" id="calorieCheckbox"
						ng-model="eventInfo.eventAction">
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3">Event Description</label>
			<div class="col-sm-9">
				<div class="checkbox">
					<label> <input type="checkbox" id="calorieCheckbox"
						ng-model="eventInfo.description">
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3">Event Name</label>
			<div class="col-sm-9">
				<div class="checkbox">
					<label> <input type="checkbox" id="calorieCheckbox"
						ng-model="eventInfo.eventName">
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3">Event Type</label>
			<div class="col-sm-9">
				<div class="checkbox">
					<label> <input type="checkbox" id="calorieCheckbox"
						ng-model="eventInfo.eventType">
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 col-sm-offset-3">
				<a href="#/userInfo"><button type="submit"
						class="btn btn-primary btn-block">Previous</button></a>
			</div>
			<div class="col-sm-2">
				<a href="#/reviewInfo"><button type="submit"
						class="btn btn-primary btn-block"
						ng-click="saveEventInfo(eventInfo)">Next</button></a>
			</div>

		</div>
	</form>
</div> -->