<!-- <div class="container" ng-controller="userInfoController">
	<form class="form-horizontal" role="form">
		<h2 class="vertical-center">User Info</h2>
		<div class="form-group">
			<label class="control-label col-sm-3">Access Level</label>
			<div class="col-sm-9">
				<div class="checkbox">
					<label> <input type="checkbox" id="calorieCheckbox"
						ng-model="userInfo.accessLevel">
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3">Account Status</label>
			<div class="col-sm-9">
				<div class="checkbox">
					<label> <input type="checkbox" id="calorieCheckbox"
						ng-model="userInfo.accountStatus">
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3">Account Tenure</label>
			<div class="col-sm-9">
				<div class="checkbox">
					<label> <input type="checkbox" id="calorieCheckbox"
						ng-model="userInfo.accountTenure">
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3">Industry Code</label>
			<div class="col-sm-9">
				<div class="checkbox">
					<label> <input type="checkbox" id="calorieCheckbox"
						ng-model="userInfo.industryCode">
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3">SE Number</label>
			<div class="col-sm-9">
				<div class="checkbox">
					<label> <input type="checkbox" id="calorieCheckbox"
						ng-model="userInfo.seNumber">
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3">Meal Preference<span></span></label>
			<div class="col-sm-9">
				<div class="checkbox">
					<label> <input type="checkbox" id="calorieCheckbox"
						ng-model="userInfo.mealPreference">
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 col-sm-offset-3">
				<a href="#/home"><button type="submit"
						class="btn btn-primary btn-block">Previous</button></a>
			</div>
			<div class="col-sm-2">
				<a href="#/eventInfo"><button type="submit"
						class="btn btn-primary btn-block"
						ng-click="saveUserInfo(userInfo)">Next</button></a>
			</div>

		</div>
	</form>
</div> -->